.header {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: center;
}
.footer {
    display: flex;
    justify-content: center;
}




body {
    border-radius: 200px;
    text-align: center;
    background-color: aquamarine;
}

img {
    width: 20%;
}

h2 {
    font-family: 'Baloo Thambi', cursive;
    background-color: #399705;
}